body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

#artwork {
    position: relative;
}

#title {
    text-align: center;
    font-weight: bold;
    padding: 3vh 0 3vh 0;
    font-size: 2vw;
}

.titleunderline {
    box-shadow: inset 0 -1.5vh 0 0 rgb(35, 160, 35);
}

#navbar {
    overflow: auto;
    padding: 0;
    margin:0;
    position: absolute;
    width: 100vw;
    height: 35%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

li:hover {
    color: red;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
    margin-left: 20px;
}

#artwork {
    position: relative;
}

img
{
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tooltip1 {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 60%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.tooltip2 {
    position: absolute;
    width: 25%;
    height: 30%;
    top: 29%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.tooltip3 {
    position: absolute;
    width: 24%;
    height: 30%;
    top: 33%;
    left: 42%;
    transform: translate(-50%, -50%);
}

.tooltip4 {
    position: absolute;
    width: 13%;
    height: 25%;
    bottom: -12%;
    right: 13%;
    transform: translate(-50%, -50%);
}

.tooltip5 {
    position: absolute;
    width: 15%;
    height: 20%;
    top: 38%;
    right: 14%;
    transform: translate(-50%, -50%);
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right:0;
    z-index: 1;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right:0;
    z-index: 1;
}

.tooltip3 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right:0;
    z-index: 1;
}

.tooltip4 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right:0;
    z-index: 1;
}

.tooltip5 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right:0;
    z-index: 1;
}
  
.tooltip1:hover .tooltiptext {
    visibility: visible;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

.tooltip3:hover .tooltiptext {
    visibility: visible;
}

.tooltip4:hover .tooltiptext {
    visibility: visible;
}

.tooltip5:hover .tooltiptext {
    visibility: visible;
}

.gg-git-branch {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 2px;
    height: 14px;
    background: currentColor
   }
   
   .gg-git-branch::after,
   .gg-git-branch::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-git-branch::before {
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-bottom-right-radius: 4px;
    bottom: 0;
    width: 8px;
    height: 6px;
    left: 0
   }
   
   .gg-git-branch::after {
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow:
    0 12px 0 0,
    6px 6px 0 0;
    border-radius: 100%;
    left: -1px;
    top: -1px
   } 

 .gg-trending {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: rotate(-45deg) scale(var(--ggs,1));
 width: 10px;
 height: 8px;
 border-top: 2px solid;
 border-right: 2px solid
}

.gg-trending::after,
.gg-trending::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute
}

.gg-trending::before {
 background: currentColor;
 left: 8px;
 width: 10px;
 height: 2px;
 bottom: 0
}

.gg-trending::after {
 width: 0;
 height: 0;
 border-top: 4px solid transparent;
 border-bottom: 4px solid transparent;
 border-left: 6px solid;
 bottom: -3px;
 right: -14px
} 

.gg-trending {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 10px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid
   }
   
   .gg-trending::after,
   .gg-trending::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-trending::before {
    background: currentColor;
    left: 8px;
    width: 10px;
    height: 2px;
    bottom: 0
   }
   
   .gg-trending::after {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid;
    bottom: -3px;
    right: -14px
   } 

   .gg-home {
    background:
    linear-gradient(to left,
    currentColor 5px,transparent 0)
    no-repeat 0 bottom/4px 2px,
    linear-gradient(to left,
    currentColor 5px,transparent 0)
    no-repeat right bottom/4px 2px;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: -2px
    }
   
    .gg-home::after,
    .gg-home::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
    }
   
    .gg-home::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
    }
   
    .gg-home::after {
    width: 8px;
    height: 10px;
    border: 2px solid;
    border-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    left: 3px;
    bottom: 0
    } 

    .gg-log-in {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 6px;
        height: 16px;
        border: 2px solid;
        border-left: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-right: -10px
       }
       
       .gg-log-in::after,
       .gg-log-in::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
       }
       
       .gg-log-in::after {
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        width: 8px;
        height: 8px;
        left: -8px;
        bottom: 2px
       }
       
       .gg-log-in::before {
        border-radius: 3px;
        width: 10px;
        height: 2px;
        background: currentColor;
        left: -11px;
        bottom: 5px
       } 

       .gg-log-out {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 6px;
        height: 16px;
        border: 2px solid;
        transform: scale(var(--ggs,1));
        border-right: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        margin-left: -10px
       }
       
       .gg-log-out::after,
       .gg-log-out::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute
       }
       
       .gg-log-out::after {
        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotate(-45deg);
        width: 8px;
        height: 8px;
        left: 4px;
        bottom: 2px
       }
       
       .gg-log-out::before {
        border-radius: 3px;
        width: 10px;
        height: 2px;
        background: currentColor;
        left: 5px;
        bottom: 5px
       } 

       .gg-today {
        display: block;
        position: relative;
        box-sizing: border-box;
        transform: scale(var(--ggs,1));
        width: 18px;
        height: 22px;
        border: 2px solid;
        border-radius: 3px
       }
       
       .gg-today::after,
       .gg-today::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 2px;
        background: currentColor;
        border-radius: 1px
       }
       
       .gg-today::before {
        bottom: 2px;
        width: 10px;
        height: 10px;
        opacity: .5
       }
       
       .gg-today::after {
        top: 2px;
        width: 6px;
        height: 2px
       } 
       .gg-user-add {
        display: block;
        transform: scale(var(--ggs,1));
        box-sizing: border-box;
        width: 20px;
        height: 18px;
        background:
        linear-gradient(
        to left,
        currentColor 8px,
        transparent 0)
        no-repeat 14px 6px/6px 2px,
        linear-gradient(
        to left,
        currentColor 8px,
        transparent 0)
        no-repeat 16px 4px/2px 6px
       }
       
       .gg-user-add::after,.gg-user-add::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border: 2px solid
       }
       
       .gg-user-add::before {
        width: 8px;
        height: 8px;
        border-radius: 30px;
        top: 0;
        left: 2px
       }
       
       .gg-user-add::after {
        width: 12px;
        height: 9px;
        border-bottom: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        top: 9px
       } 